:root {
    --primary: #00ff41;   /* Verde Admin V10 */
    --global: #00e5ff;    /* Azul Global 5.9K */
    --bg: #020202;
    --panel: rgba(15, 15, 15, 0.9);
    --font: 'Fira Code', monospace;
}

body {
    background-color: var(--bg);
    color: #fff;
    font-family: var(--font);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Contenedor Principal */
.mp-card {
    background: var(--panel);
    padding: 40px;
    border: 1px solid #222;
    border-top: 4px solid var(--primary);
    width: 350px;
    box-shadow: 0 0 50px rgba(0,0,0,1);
    position: relative;
}

.mp-card.global { border-top-color: var(--global); }

h1 { font-size: 22px; text-align: center; letter-spacing: 3px; margin-bottom: 30px; }

/* Inputs Estilo Hacker */
.input-group { margin-bottom: 20px; }
label { font-size: 10px; color: #555; display: block; margin-bottom: 5px; }
input {
    width: 100%;
    padding: 12px;
    background: #000;
    border: 1px solid #333;
    color: var(--primary);
    font-family: var(--font);
    box-sizing: border-box;
}

input:focus { border-color: var(--primary); outline: none; }

/* Botones */
.btn {
    width: 100%;
    padding: 15px;
    background: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    margin-bottom: 10px;
}

.btn:hover { background: var(--primary); color: #000; box-shadow: 0 0 20px var(--primary); }
.btn-blue { border-color: var(--global); color: var(--global); }
.btn-blue:hover { background: var(--global); color: #000; box-shadow: 0 0 20px var(--global); }

/* Status */
.status-bar { font-size: 9px; text-align: center; color: #444; margin-top: 20px; }
.pulse { color: var(--primary); animation: blink 1s infinite; }
@keyframes blink { 0% { opacity: 0.2; } 50% { opacity: 1; } 100% { opacity: 0.2; } }
