/* Globos de Telegram */
.bubble { padding: 10px; margin: 5px; border-radius: 12px; max-width: 75%; color: white; }
.me { align-self: flex-end; background: #005c4b; }
.them { align-self: flex-start; background: #222; }

/* Globos de Instagram */
.me-ig { align-self: flex-end; background: #c13584; }
.them-ig { align-self: flex-start; background: #333; border: 1px solid #c13584; }

/* Tabs */
.menu-tabs { display: flex; background: #111; }
.menu-tabs button { flex: 1; padding: 15px; background: none; border: none; color: #555; cursor: pointer; }
.menu-tabs button.active { color: white; border-bottom: 2px solid #00d2ff; }
