<!DOCTYPE html>
<html lang="es">
<head>
    <title>MP | GLOBAL CHAT</title>
    <link rel="stylesheet" href="/login.css">
    <style>
        body { flex-direction: column; }
        #chat-flow { width: 90%; height: 70vh; background: #000; border: 1px solid var(--global); overflow-y: auto; padding: 20px; }
        .msg { border-left: 2px solid var(--global); padding-left: 10px; margin-bottom: 10px; }
    </style>
</head>
<body>
    <h2 style="color:var(--global)">SISTEMA GLOBAL: 5,975 MIEMBROS</h2>
    <div id="chat-flow">
        <div class="msg"><small>[12:00]</small> <b>SISTEMA:</b> Nodo Global Conectado.</div>
    </div>
    <div style="width:90%; margin-top:20px;">
        <input type="text" placeholder="Escribir al Imperio..." style="color:var(--global)">
    </div>
</body>
</html>
