<div class="gateway-container">
    <h1 class="glitch-text">KHASAM CORE V10</h1>
    <form action="/panel_admin">
        <input type="text" placeholder="USUARIO ADMIN" required>
        <input type="password" placeholder="PASSWORD" required>
        <button type="submit" class="btn">[ 📡 ] PANEL CONTROL V10</button>
    </form>
    
    <div style="margin: 20px 0; border-top: 1px solid #333;"></div>
    
    <button onclick="location.href='/login_global'" class="btn" style="border-color:#00e5ff; color:#00e5ff;">
        [ 💬 ] IR A LOGIN GLOBAL MP (5.9K)
    </button>
</div>
