<link rel="stylesheet" href="/static/style.css">
<div class="header" style="background:#833ab4;"><b>SET INSTAGRAM</b></div>
<div class="tabs">
    <button onclick="location.href='/settings'">TELEGRAM</button>
    <button class="active" onclick="location.href='/setig'">INSTAGRAM</button>
</div>
<div id="lista-ig" class="list-container"></div>

<script>
    async function cargarIG() {
        const res = await fetch("/logs");
        const data = await res.json();
        const box = document.getElementById("lista-ig");
        let users = {};

        data.logs.forEach(line => {
            const [plat, user, msg, hora] = line.split('|');
            if(plat === "IG" && user !== "YO") {
                const [id, name] = user.split(':');
                users[id] = {name, msg, hora};
            }
        });

        box.innerHTML = Object.entries(users).map(([id, u]) => `
            <div class="card" style="border-left:5px solid #e1306c" onclick="openChat('${id}','${u.name}')">
                <b>${u.name}</b><br><small>${u.msg}</small>
            </div>
        `).join('');
    }
    function openChat(id, name) {
        localStorage.setItem("cid", id); localStorage.setItem("cname", name);
        window.location.href="/chatig";
    }
    cargarIG(); setInterval(cargarIG, 5000);
</script>
